@model IEnumerable<Mikmak.Models.Product>


<table width="80%">
    <thead>
        <tr>
            <th width="50%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th width="20%">View/Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="50%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td width="15%">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td width="20%">
                    <a asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-search"></span></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
