@model Mikmak.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal details">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DiscountPercentage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShippingCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShippingCost" class="form-control" />
                <span asp-validation-for="ShippingCost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Thumbnail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Thumbnail" class="form-control" />
                <span asp-validation-for="Thumbnail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalRating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalRating" class="form-control" />
                <span asp-validation-for="TotalRating" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Votes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Votes" class="form-control" />
                <span asp-validation-for="Votes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div class="list">@await Component.InvokeAsync("ProductAll")</div>

<div class="details">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
