@model Mikmak.Models.UnitBase

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="details">
    <h4>UnitBase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCostMultiplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCostMultiplier)
        </dd>
    </dl>
</div>
<div class="list">
    @await Component.InvokeAsync("UnitBaseAll")
</div>
<div class="details">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
