@model IEnumerable<Mikmak.Models.Customer>


<table width="80%">
    <thead>
        <tr>
            <th width="40%">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th width="40%">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th width="20%">View/Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="40">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td width="40%">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td width="20%">
                    <a asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-search"></span></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
