﻿* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

div.body-content {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 13%;
    background-color: red;
}

header h1 {
    float: right;
    padding-top: 1em;
    text-align: right;
}

main {
    width: 100%;
    height: 70%;
    background-color: whitesmoke;
}

main .row {
        width: 100%;
        height: 33.33%;
}

.tile {
    width: 25%;
    height: 100%;
}

main div.row:nth-child(even) div.tile:nth-child(odd) {
    background-color: lavender;
}

main div.row:nth-child(odd) div.tile:nth-child(even) {
    background-color: lavender;
}

main div.row:nth-child(even) div.tile:nth-child(even) {
    background-color: lightblue;
}

main div.row:nth-child(odd) div.tile:nth-child(odd) {
    background-color: lightblue;
}

footer {
    width: 100%;
    height: 17%;
    background-color: dodgerblue;
    position : fixed;
    bottom : 0;
}

.list {
    float : right;
    width : 30%;
    padding : 20px;
}

.details {
    float : left;
    width : 70%;
    padding : 20px;
}
