﻿@{
    ViewData["Title"] = "Admin Pagina";
}
<header class="row">
    <div class="col-md-12">
        <h1>Mikmak</h1>
    </div>
</header>
<main>
    <div class="row">
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Producten</h4>
                <p class="card-text">Producten beschikbaar in de winkel.</p>
                <a href="/Product/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Leveranciers</h4>
                <p class="card-text">Leverancies van de winkel.</p>
                <a href="/Supplier/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-6 tile">
        </div>
        <div class="col-md-6 tile">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Klanten</h4>
                <p class="card-text">Klanten alfabetisch gerangschikt.</p>
                <a href="/Customer/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 tile">
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Bestelling</h4>
                <p class="card-text">Bestellingen per klant.</p>
                <a href="/Order/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">ShippingMethod</h4>
                <p class="card-text">Keuze Verzendbedrijf</p>
                <a href="/ShippingMethod/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 tile">
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Landen</h4>
                <p class="card-text">Landen van waaruit klanten en leveranciers komen.</p>
                <a href="/Country/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">BestellingStatus</h4>
                <p class="card-text">Status van de bestelling.</p>
                <a href="/OrderStatus/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Basiseenheden</h4>
                <p class="card-text">Meter, kilo, stuk, enz.</p>
                <a href="/Unitbase/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
    </div>
</main>
