﻿@{
    ViewData["Title"] = "Home Page";
}



<header class="row">
    <div class="col-md-12">
        <h1>Mikmak</h1>
    </div>
</header>
<main class="row">
    <div class="col-md-12">
    </div>
</main>
