@model Mikmak.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Comment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShippingDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShippingDate" class="form-control" />
                <span asp-validation-for="ShippingDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShippingMethodId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ShippingMethodId" class="form-control" asp-items="ViewBag.ShippingMethodId"></select>
                <span asp-validation-for="ShippingMethodId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StatusId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
