@model IEnumerable<Mikmak.Models.Order>

<table width="80%">
    <h4>Orders: </h4>
    <thead>
        <tr>
            <th width="20%">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.ShippingDate)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.Comment)
            </th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.CustomerId == ViewBag.CustomerId)
	{
		<tr>
                <td width="20%">
                    @item.Id
                </td>
                <td width="20%">
                    @item.OrderDate
                </td>
                <td width="20%">
                    @item.ShippingDate
                </td>
            <td width="20%">
                @item.Comment
            </td>         
            </tr> 
            }
        }
    </tbody>
</table>
